absl-py>=2.4.0,
antropy>=0.1.9,
dataclasses-json>=0.6.7,
fbm>=0.3.0,
nolds>=0.6.3,
numpy>=2.4.2,
pywavelets>=1.9.0,
scipy>=1.17.1,
matplotlib>=3.10.8,
mypy>=1.19.1,
pandas>=3.0.1,
ruff>=0.15.4,
seaborn>=0.13.2,
tabulate>=0.9.0,
tqdm>=4.67.3,
yfinance>=1.2.0,
